@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fontpoema: "Sriracha", monospace;
    --fonttitulo: "Passion One", sans-serif;
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fontpadrao);
}

header{
    background-color: black;
    color: white;
    height: 15vw;
    text-align: center;
    padding: 20px;

}

header h1{
    font-family: var(--fonttitulo);
    font-variant: small-caps;
    font-size: 10vw;
}

header p{
    font-size: 2vw;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-left: 40px;
    padding-bottom: 10vh;
    padding-top: 10vh;
    font-family: var(--fontpoema);
    font-size: 4vw;
    line-height: 2em;
    background-color: white;
}

section p{
    padding: 20px;
}

.imagem{
    background-color: silver;
    box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.356);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;

}

.imagem p{
    background-color: rgba(0, 0, 0, 0.418);
    display: inline-block;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.603);
}

#im01{
    background-image: url(imagens/background001.jpg);
}

#im02{
    background-image: url(imagens/background002.jpg);
}

footer{
    padding: 5px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
}